<a href="https://colab.research.google.com/github/EminImura/OOP-58001/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for Loop statement

In [17]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [18]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [22]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:

  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [28]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:

  if x == "Thursday":
    print(x)
    break

Thursday

In [44]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Tuesday":
    print(x)
  if x == "Wednesday":
    print(x)

Tuesday
Wednesday

Looping through a string

In [36]:
for x in "week":
  print(x)

w
e
e
k

Nested Loop

In [39]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [47]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [48]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [53]:
i = 1
while i < 6:
  if i == 3:
    print(i)
    break
  i += 1

3

In [60]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("\ni is no longer less than 6")

1
2
3
4
5

i is no longer less than 6

Application 1

In [63]:
y = "Hello"
x = 1

while x < 11:
  print(y,x)
  x += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10


Application 1

In [68]:
num = 3

while num < 10:
  print(num)
  num += 1

3
4
5
6
7
8
9